# Node modules
node_modules/
client/node_modules/
server/node_modules/
tools/node_modules/

# Vite build output
client/dist/
client/build/
client/.cache/
client/.parcel-cache/

server/dist/
server/build/

# Logs
*.log
npm-debug.log*

# Environment files
.env