# Logs
logs
*.log
npm-debug.log*
dist

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
./client/node_modules/
./server/node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Vite logs files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Vite Local dist
./client/dist
.dist