#menu-section {
    position: sticky;
    display: none;
    grid-auto-flow: column;
    background-color: #000000ea;
    color: white;
    padding: 10px;
    max-height: 100%;
    border-radius: 5px;
    z-index: 1000;
    overflow: hidden;
    user-select: none;
}

.menu-element {
    display: grid;
    grid-template-columns: repeat(1, auto);
    margin-top: 20px;
    width: fit-content;
    height: fit-content;
}

.menu-button-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    flex-direction: row;
    gap: 4px;
    margin-top: 2px;
    left: 0;
}

.menu-slider {
    width: 400px;
    margin-top: 30px;
    margin-bottom: 5px;
    background-color: #444;
    border: none;
    border-radius: 5px;
    height: 5px;
    outline: none;
    transition: cubic-bezier(1, 0, 0, 1);
}

.menu-button {
    background-color: #444;
    width: 100px;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.menu-button:hover {
    background-color: #555;
}

.menu-button.active,
.menu-button.active:hover {
    background-color: #28d419;
}


.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff4444;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#devSection {
    background-color: #000000;
    color: aliceblue;
    position: relative;
    display: none;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    z-index: 1200;
    overflow: hidden;
}

.devLabel {
    font-weight: bold;
    margin-bottom: 5px;
    background-color: #000000;
    color: aliceblue;
}

.devGrid {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    margin-top: 20px;
    overflow: hidden;
    width: 100%;
}

.devSlider {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #444;
    border: none;
    border-radius: 5px;
    height: 5px;
    outline: none;
    transition: cubic-bezier(1, 0, 0, 1);
}

.bunch-of-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}